#include <dt-bindings/zmk/mouse.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
                &mkp LCLK
                &mkp RCLK
            >;

            sensor-bindings = <
                &msc SCRL_UP
                &msc SCRL_DOWN
            >;

        };
    };
};
