/ {
  chosen {
    zmk,kscan = &kscan0;
  };

  kscan0: kscan {
    compatible = "zmk,kscan-gpio-direct";
    debounce-press-ms = <5>;
    debounce-release-ms = <5>;

    input-gpios = <
      &gpio0 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)   /* D0 left click */
      &gpio0 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)   /* D1 right click */
    >;
  };

  behaviors {
    scroll_cw: scroll_cw {
      compatible = "zmk,behavior-mouse-scroll";
      #binding-cells = <0>;
      scroll-direction = <0>;
    };

    scroll_ccw: scroll_ccw {
      compatible = "zmk,behavior-mouse-scroll";
      #binding-cells = <0>;
      scroll-direction = <1>;
    };
  };

  sensors {
    compatible = "zmk,keymap-sensors";

    scroll_encoder: scroll_encoder {
      compatible = "zmk,encoder";
      label = "SCROLL_ENC";

      a-gpios = <&gpio0 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;   /* D5 */
      b-gpios = <&gpio1 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;  /* D6 */

      steps = <24>;
      triggers = <&scroll_cw &scroll_ccw>;
    };
  };
};